.posterImg {
    width: 70%;
    height: 400px;
    box-shadow: 0 0 5px 2px #8d8989;
}
.detailedContainer {
width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overview {
    width: 30%;
}
.line{

}
.date{

}
.information{

}
.more{

display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}
.title{

}



@media screen and (max-width: 480px) {
    .posterImg {
        width: 100%;
        height: 300px;
        box-shadow: 0 0 5px 2px #8d8989;
    }
.more{
    flex-direction: column;
    align-items: center;
}
    .overview {
        width: 70%;
        font-size: 15px;
    }
    .backBtn{
        width:40%;
    }

}
@media screen and (min-width: 1400px) {
    .posterImg {
        width: 60%;
        height: auto;
    }
    .line{
        font-size: 27px;
    }
    .title{
        font-size: 37px;
    }
    .overview{
        font-size: 27px;
    }
    .backBtn{
        width: 20%;
    }
    :global(.StarRatings) { font-size: 10px; }
}







.backBtn {

    box-shadow: 0 0 5px 2px #8d8989;
    position: relative;
    overflow: hidden;
    border: 1px solid #18181a;
    color: #18181a;
    display: inline-block;
    font-size: 15px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-bottom: 10px ;
}

.backBtn span:first-child {
    position: relative;
    transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.backBtn span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 13px;
}

.backBtn:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform-origin: bottom center;
    transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.backBtn:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.backBtn:hover span:last-child {
    transform: translateX(-50%) translateY(-100%);
    opacity: 1;
    transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}


